<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A cool thing made with Glitch" name="description">

    <title>Welcome to Glitch!</title>

    <link href="https://glitch.com/edit/favicon-app.ico" id="favicon" rel="icon" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link href="/style.css" rel="stylesheet">

    <!-- import the webpage's client-side javascript file -->
    <script defer src="/script.js"></script>
  </head>
  <body>
    <header>
      <h1>A Dream of the Future</h1>
    </header>

    <main>
      <h2>Oh hi,</h2>

      <p>Tell me your hopes and dreams:</p>

      <form>
        <label>
          New Dream
          <input maxlength="100" name="dream" placeholder="Dreams!" required type="text">
        </label>
        <button id="submit-dream" type="submit">Add Dream</button>
      </form>

      <section class="dreams">
        <ul id="dreams">
          <em>loading dreams&hellip;</em>
        </ul>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script defer src="https://button.glitch.me/button.js"></script>
  </body>
</html>
