<!DOCTYPE html>
<!---i was here -volas-->
<html lang="en">

<head>
    <title>o7 Api</title>
    <link href="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" rel="icon" type="image/x-icon">
    <meta content="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" name="twitter:image:src">
    <meta content="o7 Api" name="twitter:site">
    <meta content="summary" name="twitter:card">
    <meta content="o7-Fire API" name="twitter:title">
    <meta content="NodeNsfwJSAPI" name="twitter:description">
    <meta content="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" property="og:image">
    <meta content="o7 API" property="og:site_name">
    <meta content="object" property="og:type">
    <meta content="o7-Fire API" property="og:title">
    <meta content="https://api.o7fire.ml/" property="og:url">
    <meta content="NodeNsfwJSAPI" property="og:description">
</head>
 <pre>
NodeNsfwJSAPI Usage:

 Text Classification:  "https://api.o7fire.ml/api/json/graphical/classification/ (linkgoeshere)"
 (Only accepts discord links, refer to line 74 of index.js if you want to change it.) 
</pre>
