<!DOCTYPE html>
<!---i was here -volas-->
<html lang="en" data-lt-installed="true"><head>
    <title>o7 Api</title>
    <link href="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" rel="icon" type="image/x-icon">
    <meta content="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" name="twitter:image:src">
    <meta content="o7 Api" name="twitter:site">
    <meta content="summary" name="twitter:card">
    <meta content="o7-Fire API" name="twitter:title">
    <meta content="NodeNsfwJSAPI" name="twitter:description">
    <meta content="https://raw.githubusercontent.com/o7-Fire/General/master/o7AFB.png" property="og:image">
    <meta content="o7 API" property="og:site_name">
    <meta content="object" property="og:type">
    <meta content="o7-Fire API" property="og:title">
    <meta content="NodeNsfwJSAPI" property="og:description">
</head>
 <body><pre>NodeNsfwJSAPI Usage:

 Text Classification:  <p href="api/json/graphical">"api/json/graphical/classification/urlgoeshere"</p>
 (Only accepts discord links or blob, https://github.com/o7-Fire/NodeNsfwJSAPI/blob/master/index.js#L108 if you want to change it.) 
</pre>
</body></html>
